<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.emf.formeditor.tests.factories.NoMouseEventExecutableExtensionFactory:org.eclipse.emf.formeditor.EmfFormEditor"
            contributorClass="org.eclipse.emf.presentation.EmfFormEditorActionBarContributor"
            default="false"
            id="org.eclipse.emf.formeditor.noMouseEvents"
            name="EMF Form Editor No Mouse Events">
         <contentTypeBinding
               contentTypeId="org.eclipse.emf.ecore.xmi">
         </contentTypeBinding>
      </editor>
   </extension>
   
   	<extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.emf.formeditor.tests.factories.CustomLabelExecutableExtensionFactory:org.eclipse.emf.formeditor.EmfFormEditor"
            contributorClass="org.eclipse.emf.presentation.EmfFormEditorActionBarContributor"
            default="false"
            id="org.eclipse.emf.formeditor.customLabel"
            name="EMF Form Editor Custom Label">
         <contentTypeBinding
               contentTypeId="org.eclipse.emf.ecore.xmi">
         </contentTypeBinding>
      </editor>
   </extension>
    <extension
          point="org.eclipse.ui.views">
       <view
             class="org.eclipse.emf.formeditor.tests.factories.EmfFormEditorTestsExecutableExtensionFactory:org.eclipse.emf.formeditor.tests.views.LibraryEmfView"
             id="org.eclipse.emf.formeditor.tests.views.libraryview"
             name="LibraryEmfView"
             restorable="true">
       </view>
       <view
             class="org.eclipse.emf.formeditor.tests.factories.CustomLabelExecutableExtensionFactory:org.eclipse.emf.formeditor.tests.views.LibraryEmfView"
             id="org.eclipse.emf.formeditor.tests.views.libraryviewcustom"
             name="LibraryEmfView Custom Label"
             restorable="true">
       </view>
    </extension>
    <extension
          point="org.eclipse.ui.editors">
       <editor
             class="org.eclipse.emf.formeditor.tests.factories.CustomLabelExecutableExtensionFactory:org.eclipse.emf.formeditor.tests.editors.TestFormEditor"
             contributorClass="org.eclipse.emf.presentation.EmfFormEditorActionBarContributor"
             default="false"
             id="org.eclipse.emf.formeditor.customLabel"
             name="EMF Form Editor Derived">
          <contentTypeBinding
                contentTypeId="org.eclipse.emf.ecore.xmi">
          </contentTypeBinding>
       </editor>
    </extension>
    <extension
          point="org.eclipse.ui.editors">
       <editor
             class="org.eclipse.emf.formeditor.EmfFormEditorExecutableExtensionFactory:org.eclipse.emf.formeditor.EmfFormEditor"
             contributorClass="org.eclipse.emf.presentation.EmfFormEditorActionBarContributor"
             default="false"
             extensions="statemachine"
             id="org.eclipse.emf.formeditor.statemachine"
             name="EMF Form Editor Statemachine">
       </editor>
    </extension>
    <extension
          point="org.eclipse.ui.editors">
       <editor
             class="org.eclipse.emf.formeditor.tests.factories.CustomLibraryExecutableExtensionFactory:org.eclipse.emf.formeditor.tests.editors.TestFormEditor"
             contributorClass="org.eclipse.emf.presentation.EmfFormEditorActionBarContributor"
             default="false"
             extensions="extlibrary"
             id="org.eclipse.emf.formeditor.customLibrary"
             name="EMF Custom Library Editor">
       </editor>
    </extension>
    <extension
          point="org.eclipse.ui.views">
       <view
             class="org.eclipse.emf.formeditor.tests.factories.CustomLibraryExecutableExtensionFactory:org.eclipse.emf.formeditor.views.GenericDetailViewPart"
             id="org.eclipse.emf.formeditor.tests.views.librarydetailviewcustom"
             name="Library Emf Detail View"
             restorable="true">
       </view>
    </extension>
</plugin>
