<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
       <view
               class="it.rcpvision.emf.components.examples.EmfComponentsExamplesExecutableExtensionFactory:it.rcpvision.emf.components.examples.views.ResourceTreeFormView"
               id="it.rcpvision.emf.components.examples.resourcetreeformview"
               name="Resource Tree Form View"
               restorable="true">
         </view> 
       <view
               class="it.rcpvision.emf.components.examples.EmfComponentsExamplesExecutableExtensionFactory:it.rcpvision.emf.components.views.AbstractSaveableResourceTreeFormView"
               id="it.rcpvision.emf.components.examples.saveableresourcetreeformview"
               name="Saveable Resource Tree Form View"
               restorable="true">
         </view>
   </extension>

</plugin>
