<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="it.rcpvision.emf.components.tests.cdo.app.application"
            name="testCdo">
         <property
               name="appName"
               value="testCdo">
         </property>
      </product>
   </extension>

</plugin>
