<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.emf.formeditor.cdo.CDOEmfFormEditorExecutableExtensionFactory:org.eclipse.emf.formeditor.EmfFormEditor"
            contributorClass="org.eclipse.emf.ecore.presentation.EcoreActionBarContributor"
            default="false"
            id="org.eclipse.emf.formeditor.cdo"
            name="My CDO EMF Form Editor">
      </editor>
   </extension>

</plugin>
