<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.newWizards">
      <category
            id="it.rcpvision.emf.components.wizards"
            name="Emf Components">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="it.rcpvision.emf.components.wizards"
            class="it.rcpvision.emf.components.wizards.NewEmfComponentsProjectWizard"
            icon="icons/sample.gif"
            id="it.rcpvision.emf.components.wizards.NewEmfComponentsProject"
            name="New Emf Components Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.pde.ui.pluginContent">
      <wizard
            class="it.rcpvision.emf.components.wizards.TablePluginContentWizard"
            icon="icons/component.jpg"
            id="it.rcpvision.emf.components.masterdetail.tablewizard"
            java="true"
            name="Table Master Detail Wizard"
            pureOSGi="false"
            rcp="false"
            requiresActivator="false"
            ui-content="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.pde.ui.templates">
      <template
            class="it.rcpvision.emf.components.wizards.TableViewTemplateSection"
            contributingId="org.eclipse.ui.views"
            icon="icons/component.jpg"
            id="it.rcpvision.emf.components.masterdetail.tabletemplate"
            name="Table Master Detail View"/>
	</extension>
</plugin>
