<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
<setAttribute key="additional_plugins"/>
<booleanAttribute key="append.args" value="true"/>
<booleanAttribute key="askclear" value="false"/>
<booleanAttribute key="automaticAdd" value="true"/>
<booleanAttribute key="automaticValidate" value="false"/>
<stringAttribute key="bootstrap" value=""/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="clearConfig" value="true"/>
<booleanAttribute key="clearws" value="true"/>
<booleanAttribute key="clearwslog" value="false"/>
<stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/Mail"/>
<booleanAttribute key="default" value="false"/>
<stringAttribute key="featureDefaultLocation" value="workspace"/>
<stringAttribute key="featurePluginResolution" value="workspace"/>
<booleanAttribute key="includeOptional" value="true"/>
<stringAttribute key="location" value="${workspace_loc}/../runtime-Mail"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="pde.version" value="3.3"/>
<stringAttribute key="product" value="it.rcpvision.emf.components.examples.mail.rcp.product"/>
<setAttribute key="selected_features">
<setEntry value="it.rcpvision.emf.components.cdo.feature:default"/>
<setEntry value="it.rcpvision.emf.components.cdo.tests.swtbot:default"/>
<setEntry value="it.rcpvision.emf.components.cdoexample:default"/>
<setEntry value="it.rcpvision.emf.components.dsl.feature:default"/>
<setEntry value="it.rcpvision.emf.components.examples.feature:default"/>
<setEntry value="it.rcpvision.emf.components.examples.mail.feature:default"/>
<setEntry value="it.rcpvision.emf.components.examples.mail.product.feature:default"/>
<setEntry value="it.rcpvision.emf.components.examples.rap.feature:default"/>
<setEntry value="it.rcpvision.emf.components.feature:default"/>
<setEntry value="it.rcpvision.emf.components.site:default"/>
<setEntry value="it.rcpvision.emf.components.tests.swtbot.feature:default"/>
<setEntry value="org.eclipse.cvs.source:default"/>
<setEntry value="org.eclipse.cvs:default"/>
<setEntry value="org.eclipse.e4.rcp.source:default"/>
<setEntry value="org.eclipse.e4.rcp:default"/>
<setEntry value="org.eclipse.emf.cdo.defs.source:default"/>
<setEntry value="org.eclipse.emf.cdo.defs:default"/>
<setEntry value="org.eclipse.emf.cdo.doc.source:default"/>
<setEntry value="org.eclipse.emf.cdo.doc:default"/>
<setEntry value="org.eclipse.emf.cdo.examples.installer.source:default"/>
<setEntry value="org.eclipse.emf.cdo.examples.installer:default"/>
<setEntry value="org.eclipse.emf.cdo.migrator.source:default"/>
<setEntry value="org.eclipse.emf.cdo.migrator:default"/>
<setEntry value="org.eclipse.emf.cdo.sdk.source:default"/>
<setEntry value="org.eclipse.emf.cdo.sdk:default"/>
<setEntry value="org.eclipse.emf.cdo.server.db.source:default"/>
<setEntry value="org.eclipse.emf.cdo.server.db:default"/>
<setEntry value="org.eclipse.emf.cdo.server.mongodb.source:default"/>
<setEntry value="org.eclipse.emf.cdo.server.mongodb:default"/>
<setEntry value="org.eclipse.emf.cdo.server.objectivity.source:default"/>
<setEntry value="org.eclipse.emf.cdo.server.objectivity:default"/>
<setEntry value="org.eclipse.emf.cdo.server.product:default"/>
<setEntry value="org.eclipse.emf.cdo.server.source:default"/>
<setEntry value="org.eclipse.emf.cdo.server:default"/>
<setEntry value="org.eclipse.emf.cdo.source:default"/>
<setEntry value="org.eclipse.emf.cdo:default"/>
<setEntry value="org.eclipse.emf.codegen.ecore.source:default"/>
<setEntry value="org.eclipse.emf.codegen.ecore.ui.source:default"/>
<setEntry value="org.eclipse.emf.codegen.ecore.ui:default"/>
<setEntry value="org.eclipse.emf.codegen.ecore:default"/>
<setEntry value="org.eclipse.emf.codegen.source:default"/>
<setEntry value="org.eclipse.emf.codegen.ui.source:default"/>
<setEntry value="org.eclipse.emf.codegen.ui:default"/>
<setEntry value="org.eclipse.emf.codegen:default"/>
<setEntry value="org.eclipse.emf.common.ui.source:default"/>
<setEntry value="org.eclipse.emf.common.ui:default"/>
<setEntry value="org.eclipse.emf.common:default"/>
<setEntry value="org.eclipse.emf.converter.source:default"/>
<setEntry value="org.eclipse.emf.converter:default"/>
<setEntry value="org.eclipse.emf.databinding.edit.source:default"/>
<setEntry value="org.eclipse.emf.databinding.edit:default"/>
<setEntry value="org.eclipse.emf.databinding.source:default"/>
<setEntry value="org.eclipse.emf.databinding:default"/>
<setEntry value="org.eclipse.emf.doc.source:default"/>
<setEntry value="org.eclipse.emf.doc:default"/>
<setEntry value="org.eclipse.emf.ecore.edit.source:default"/>
<setEntry value="org.eclipse.emf.ecore.edit:default"/>
<setEntry value="org.eclipse.emf.ecore.editor.source:default"/>
<setEntry value="org.eclipse.emf.ecore.editor:default"/>
<setEntry value="org.eclipse.emf.ecore:default"/>
<setEntry value="org.eclipse.emf.edit.source:default"/>
<setEntry value="org.eclipse.emf.edit.ui.source:default"/>
<setEntry value="org.eclipse.emf.edit.ui:default"/>
<setEntry value="org.eclipse.emf.edit:default"/>
<setEntry value="org.eclipse.emf.mapping.ecore.editor.source:default"/>
<setEntry value="org.eclipse.emf.mapping.ecore.editor:default"/>
<setEntry value="org.eclipse.emf.mapping.ecore.source:default"/>
<setEntry value="org.eclipse.emf.mapping.ecore:default"/>
<setEntry value="org.eclipse.emf.mapping.source:default"/>
<setEntry value="org.eclipse.emf.mapping.ui.source:default"/>
<setEntry value="org.eclipse.emf.mapping.ui:default"/>
<setEntry value="org.eclipse.emf.mapping:default"/>
<setEntry value="org.eclipse.emf.mwe.core.source:default"/>
<setEntry value="org.eclipse.emf.mwe.core:default"/>
<setEntry value="org.eclipse.emf.mwe.doc:default"/>
<setEntry value="org.eclipse.emf.mwe.sdk:default"/>
<setEntry value="org.eclipse.emf.mwe.ui.source:default"/>
<setEntry value="org.eclipse.emf.mwe.ui:default"/>
<setEntry value="org.eclipse.emf.mwe2.language.sdk.source:default"/>
<setEntry value="org.eclipse.emf.mwe2.language.sdk:default"/>
<setEntry value="org.eclipse.emf.mwe2.runtime.sdk.source:default"/>
<setEntry value="org.eclipse.emf.mwe2.runtime.sdk:default"/>
<setEntry value="org.eclipse.emf.query.doc:default"/>
<setEntry value="org.eclipse.emf.query.ocl.source:default"/>
<setEntry value="org.eclipse.emf.query.ocl:default"/>
<setEntry value="org.eclipse.emf.query.sdk:default"/>
<setEntry value="org.eclipse.emf.query.source:default"/>
<setEntry value="org.eclipse.emf.query:default"/>
<setEntry value="org.eclipse.emf.sdk:default"/>
<setEntry value="org.eclipse.emf.source:default"/>
<setEntry value="org.eclipse.emf:default"/>
<setEntry value="org.eclipse.equinox.p2.core.feature.source:default"/>
<setEntry value="org.eclipse.equinox.p2.core.feature:default"/>
<setEntry value="org.eclipse.equinox.p2.extras.feature.source:default"/>
<setEntry value="org.eclipse.equinox.p2.extras.feature:default"/>
<setEntry value="org.eclipse.equinox.p2.rcp.feature.source:default"/>
<setEntry value="org.eclipse.equinox.p2.rcp.feature:default"/>
<setEntry value="org.eclipse.equinox.p2.user.ui.source:default"/>
<setEntry value="org.eclipse.equinox.p2.user.ui:default"/>
<setEntry value="org.eclipse.help.source:default"/>
<setEntry value="org.eclipse.help:default"/>
<setEntry value="org.eclipse.jdt.source:default"/>
<setEntry value="org.eclipse.jdt:default"/>
<setEntry value="org.eclipse.net4j.db.derby.source:default"/>
<setEntry value="org.eclipse.net4j.db.derby:default"/>
<setEntry value="org.eclipse.net4j.db.doc.source:default"/>
<setEntry value="org.eclipse.net4j.db.doc:default"/>
<setEntry value="org.eclipse.net4j.db.h2.source:default"/>
<setEntry value="org.eclipse.net4j.db.h2:default"/>
<setEntry value="org.eclipse.net4j.db.source:default"/>
<setEntry value="org.eclipse.net4j.db:default"/>
<setEntry value="org.eclipse.net4j.defs.source:default"/>
<setEntry value="org.eclipse.net4j.defs:default"/>
<setEntry value="org.eclipse.net4j.doc.source:default"/>
<setEntry value="org.eclipse.net4j.doc:default"/>
<setEntry value="org.eclipse.net4j.examples.installer.source:default"/>
<setEntry value="org.eclipse.net4j.examples.installer:default"/>
<setEntry value="org.eclipse.net4j.sdk.source:default"/>
<setEntry value="org.eclipse.net4j.sdk:default"/>
<setEntry value="org.eclipse.net4j.source:default"/>
<setEntry value="org.eclipse.net4j.ui.source:default"/>
<setEntry value="org.eclipse.net4j.ui:default"/>
<setEntry value="org.eclipse.net4j.util.doc.source:default"/>
<setEntry value="org.eclipse.net4j.util.doc:default"/>
<setEntry value="org.eclipse.net4j.util.source:default"/>
<setEntry value="org.eclipse.net4j.util.ui.source:default"/>
<setEntry value="org.eclipse.net4j.util.ui:default"/>
<setEntry value="org.eclipse.net4j.util:default"/>
<setEntry value="org.eclipse.net4j:default"/>
<setEntry value="org.eclipse.pde.source:default"/>
<setEntry value="org.eclipse.pde:default"/>
<setEntry value="org.eclipse.platform.source:default"/>
<setEntry value="org.eclipse.platform:default"/>
<setEntry value="org.eclipse.rcp.source:default"/>
<setEntry value="org.eclipse.rcp:default"/>
<setEntry value="org.eclipse.sdk:default"/>
<setEntry value="org.eclipse.swtbot.eclipse.test.junit4:default"/>
<setEntry value="org.eclipse.swtbot.eclipse:default"/>
<setEntry value="org.eclipse.swtbot.forms:default"/>
<setEntry value="org.eclipse.swtbot.ide:default"/>
<setEntry value="org.eclipse.swtbot:default"/>
<setEntry value="org.eclipse.xpand.doc:default"/>
<setEntry value="org.eclipse.xpand.examples.source:default"/>
<setEntry value="org.eclipse.xpand.examples:default"/>
<setEntry value="org.eclipse.xpand.incremental.source:default"/>
<setEntry value="org.eclipse.xpand.incremental:default"/>
<setEntry value="org.eclipse.xpand.sdk:default"/>
<setEntry value="org.eclipse.xpand.source:default"/>
<setEntry value="org.eclipse.xpand.ui.source:default"/>
<setEntry value="org.eclipse.xpand.ui:default"/>
<setEntry value="org.eclipse.xpand:default"/>
<setEntry value="org.eclipse.xtend.dependencies.source:default"/>
<setEntry value="org.eclipse.xtend.dependencies:default"/>
<setEntry value="org.eclipse.xtend.sdk:default"/>
<setEntry value="org.eclipse.xtend.source:default"/>
<setEntry value="org.eclipse.xtend.typesystem.emf.source:default"/>
<setEntry value="org.eclipse.xtend.typesystem.emf:default"/>
<setEntry value="org.eclipse.xtend.typesystem.uml2.source:default"/>
<setEntry value="org.eclipse.xtend.typesystem.uml2:default"/>
<setEntry value="org.eclipse.xtend.typesystem.xsd.source:default"/>
<setEntry value="org.eclipse.xtend.typesystem.xsd:default"/>
<setEntry value="org.eclipse.xtend.ui.source:default"/>
<setEntry value="org.eclipse.xtend.ui:default"/>
<setEntry value="org.eclipse.xtend:default"/>
<setEntry value="org.eclipse.xtext.docs:default"/>
<setEntry value="org.eclipse.xtext.examples.source:default"/>
<setEntry value="org.eclipse.xtext.examples:default"/>
<setEntry value="org.eclipse.xtext.runtime.source:default"/>
<setEntry value="org.eclipse.xtext.runtime:default"/>
<setEntry value="org.eclipse.xtext.sdk:default"/>
<setEntry value="org.eclipse.xtext.ui.source:default"/>
<setEntry value="org.eclipse.xtext.ui:default"/>
<setEntry value="org.eclipse.xtext.xbase.source:default"/>
<setEntry value="org.eclipse.xtext.xbase:default"/>
<setEntry value="org.eclipse.xtext.xtext.ui.source:default"/>
<setEntry value="org.eclipse.xtext.xtext.ui:default"/>
</setAttribute>
<booleanAttribute key="show_selected_only" value="false"/>
<stringAttribute key="templateConfig" value="${target_home}/configuration/config.ini"/>
<booleanAttribute key="tracing" value="false"/>
<booleanAttribute key="useCustomFeatures" value="true"/>
<booleanAttribute key="useDefaultConfig" value="true"/>
<booleanAttribute key="useDefaultConfigArea" value="true"/>
<booleanAttribute key="useProduct" value="true"/>
</launchConfiguration>
