<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="it.rcpvision.emf.components.EmfComponentsExecutableExtensionFactory:it.rcpvision.emf.components.editors.EmfTreeEditor"
            contributorClass="it.rcpvision.emf.components.editors.EmfComponentsEditorActionBarContributor"
            default="false"
            id="it.rcpvision.emf.components.editors.treeEditor"
            name="EMF Tree Editor">
         <contentTypeBinding
               contentTypeId="org.eclipse.emf.ecore.xmi">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="it.rcpvision.emf.components.EmfComponentsExecutableExtensionFactory:it.rcpvision.emf.components.views.OnSelectionTreeView"
            icon="icon/view.jpg"
            id="it.rcpvision.emf.components.emftreeview"
            name="Emf Tree View"
            restorable="true">
      </view>
      <view
            class="it.rcpvision.emf.components.EmfComponentsExecutableExtensionFactory:it.rcpvision.emf.components.views.OnSelectionListView"
            icon="icon/view.jpg"
            id="it.rcpvision.emf.components.emflistview"
            name="Emf List View"
            restorable="true">
      </view>
      <view
            class="it.rcpvision.emf.components.EmfComponentsExecutableExtensionFactory:it.rcpvision.emf.components.views.OnSelectionTableView"
            icon="icon/view.jpg"
            id="it.rcpvision.emf.components.tableview"
            name="Emf Table View"
            restorable="true">
      </view>
      <view
            class="it.rcpvision.emf.components.EmfComponentsExecutableExtensionFactory:it.rcpvision.emf.components.views.OnSelectionFormView"
            icon="icon/view.jpg"
            id="it.rcpvision.emf.components.formview"
            name="Emf Form View"
            restorable="true">
      </view>
      <view
            class="it.rcpvision.emf.components.EmfComponentsExecutableExtensionFactory:it.rcpvision.emf.components.views.TreeFormView"
            icon="icon/view.jpg"
            id="it.rcpvision.emf.components.treeformview"
            name="Emf Tree Form View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.pde.ui.pluginContent">
      <wizard
            class="it.rcpvision.emf.components.wizard.masterdetail.TablePluginContentWizard"
            icon="icon/component.jpg"
            id="it.rcpvision.emf.components.masterdetail.tablewizard"
            java="true"
            name="Table Master Detail Wizard"
            pureOSGi="false"
            rcp="false"
            requiresActivator="false"
            ui-content="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.pde.ui.templates">
      <template
            class="it.rcpvision.emf.components.wizard.masterdetail.TableViewTemplateSection"
            contributingId="org.eclipse.ui.views"
            icon="icon/component.jpg"
            id="it.rcpvision.emf.components.masterdetail.tabletemplate"
            name="Table Master Detail View"/>
	</extension>
</plugin>
