<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="it.rcpvision.emf.components.EmfComponentsExecutableExtensionFactory:it.rcpvision.emf.components.editors.EmfTreeEditor"
            contributorClass="org.eclipse.emf.presentation.EmfFormEditorActionBarContributor"
            default="false"
            id="it.rcpvision.emf.components.editors.treeEditor"
            name="EMF Tree Editor">
         <contentTypeBinding
               contentTypeId="org.eclipse.emf.ecore.xmi">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="it.rcpvision.emf.components.EmfComponentsExecutableExtensionFactory:it.rcpvision.emf.components.views.EmfView"
            id="it.rcpvision.emf.components.emfview"
            name="Emf View"
            restorable="true">
      </view>
      <view
            class="it.rcpvision.emf.components.EmfComponentsExecutableExtensionFactory:it.rcpvision.emf.components.views.GenericDetailViewPart"
            icon="icon/detail.jpg"
            id="it.rcpvision.emf.components.detailView"
            name="Emf Detail View"
            restorable="true">
      </view>
      <view
            class="it.rcpvision.emf.components.EmfComponentsExecutableExtensionFactory:it.rcpvision.emf.components.views.GenericTableViewPart"
            icon="icon/table.jpg"
            id="it.rcpvision.emf.components.tableView"
            name="Emf Table View"
            restorable="true">
      </view>
   </extension>
</plugin>
