<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="it.rcpvision.emf.components.EmfComponentsExecutableExtensionFactory:it.rcpvision.emf.components.editors.EmfTreeEditor"
            contributorClass="it.rcpvision.emf.components.EmfComponentsExecutableExtensionFactory:it.rcpvision.emf.components.editors.EmfComponentsEditorActionBarContributor"
            default="false"
            id="it.rcpvision.emf.components.editors.treeEditor"
            name="EMF Tree Editor">
         <contentTypeBinding
               contentTypeId="org.eclipse.emf.ecore.xmi">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="it.rcpvision.emf.components"
            class="it.rcpvision.emf.components.EmfComponentsExecutableExtensionFactory:it.rcpvision.emf.components.views.OnSelectionTreeView"
            icon="icon/view.jpg"
            id="it.rcpvision.emf.components.emftreeview"
            name="Emf Tree View"
            restorable="true">
      </view>
      <view
            category="it.rcpvision.emf.components"
            class="it.rcpvision.emf.components.EmfComponentsExecutableExtensionFactory:it.rcpvision.emf.components.views.OnSelectionListView"
            icon="icon/view.jpg"
            id="it.rcpvision.emf.components.emflistview"
            name="Emf List View"
            restorable="true">
      </view>
      <view
            category="it.rcpvision.emf.components"
            class="it.rcpvision.emf.components.EmfComponentsExecutableExtensionFactory:it.rcpvision.emf.components.views.OnSelectionTableView"
            icon="icon/view.jpg"
            id="it.rcpvision.emf.components.tableview"
            name="Emf Table View"
            restorable="true">
      </view>
      <view
            category="it.rcpvision.emf.components"
            class="it.rcpvision.emf.components.EmfComponentsExecutableExtensionFactory:it.rcpvision.emf.components.views.OnSelectionFormView"
            icon="icon/view.jpg"
            id="it.rcpvision.emf.components.formview"
            name="Emf Form View"
            restorable="true">
      </view>
      <view
            category="it.rcpvision.emf.components"
            class="it.rcpvision.emf.components.EmfComponentsExecutableExtensionFactory:it.rcpvision.emf.components.views.OnSelectionTreeFormView"
            icon="icon/view.jpg"
            id="it.rcpvision.emf.components.treeformview"
            name="Emf Tree Form View"
            restorable="true">
      </view>
      <category
            id="it.rcpvision.emf.components"
            name="Emf Components">
      </category>
   </extension>
</plugin>
