<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.editors">
      <editor
            class="it.rcpvision.emf.components.tests.factories.NoMouseEventExecutableExtensionFactory:it.rcpvision.emf.components.EmfFormEditor"
            contributorClass="org.eclipse.emf.presentation.EmfFormEditorActionBarContributor"
            default="false"
            id="it.rcpvision.emf.components.noMouseEvents"
            name="EMF Tree Editor No Mouse Events">
         <contentTypeBinding
               contentTypeId="org.eclipse.emf.ecore.xmi">
         </contentTypeBinding>
      </editor>
   </extension>
   
   	<extension
         point="org.eclipse.ui.editors">
      <editor
            class="it.rcpvision.emf.components.tests.factories.CustomLabelExecutableExtensionFactory:it.rcpvision.emf.components.EmfFormEditor"
            contributorClass="org.eclipse.emf.presentation.EmfFormEditorActionBarContributor"
            default="false"
            id="it.rcpvision.emf.components.customLabel"
            name="EMF Tree Editor Custom Label">
         <contentTypeBinding
               contentTypeId="org.eclipse.emf.ecore.xmi">
         </contentTypeBinding>
      </editor>
   </extension>
    <extension
          point="org.eclipse.ui.views">
       <view
             class="it.rcpvision.emf.components.tests.factories.EmfFormEditorTestsExecutableExtensionFactory:it.rcpvision.emf.components.tests.views.LibraryEmfView"
             id="it.rcpvision.emf.components.tests.views.libraryview"
             name="LibraryEmfView"
             restorable="true">
       </view>
       <view
             class="it.rcpvision.emf.components.tests.factories.CustomLabelExecutableExtensionFactory:it.rcpvision.emf.components.tests.views.LibraryEmfView"
             id="it.rcpvision.emf.components.tests.views.libraryviewcustom"
             name="LibraryEmfView Custom Label"
             restorable="true">
       </view>
    </extension>
    <extension
          point="org.eclipse.ui.editors">
       <editor
             class="it.rcpvision.emf.components.tests.factories.CustomLabelExecutableExtensionFactory:it.rcpvision.emf.components.tests.editors.TestFormEditor"
             contributorClass="org.eclipse.emf.presentation.EmfFormEditorActionBarContributor"
             default="false"
             id="it.rcpvision.emf.components.customLabel"
             name="EMF Tree Editor Derived">
          <contentTypeBinding
                contentTypeId="org.eclipse.emf.ecore.xmi">
          </contentTypeBinding>
       </editor>
    </extension>
    <extension
          point="org.eclipse.ui.editors">
       <editor
             class="it.rcpvision.emf.components.EmfComponentsExecutableExtensionFactory:it.rcpvision.emf.components.EmfFormEditor"
             contributorClass="org.eclipse.emf.presentation.EmfFormEditorActionBarContributor"
             default="false"
             extensions="statemachine"
             id="it.rcpvision.emf.components.statemachine"
             name="EMF Tree Editor Statemachine">
       </editor>
    </extension>
    <extension
          point="org.eclipse.ui.editors">
       <editor
             class="it.rcpvision.emf.components.tests.factories.CustomLibraryExecutableExtensionFactory:it.rcpvision.emf.components.tests.editors.TestFormEditor"
             contributorClass="org.eclipse.emf.presentation.EmfFormEditorActionBarContributor"
             default="false"
             extensions="extlibrary"
             id="it.rcpvision.emf.components.customLibrary"
             name="EMF Custom Library Editor">
       </editor>
    </extension>
    <extension
          point="org.eclipse.ui.views">
       <view
             class="it.rcpvision.emf.components.tests.factories.CustomLibraryExecutableExtensionFactory:it.rcpvision.emf.components.views.GenericDetailViewPart"
             id="it.rcpvision.emf.components.tests.views.librarydetailviewcustom"
             name="Library Emf Detail View"
             restorable="true">
       </view>
    </extension>
</plugin>
