<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.editors">
      <editor
            class="it.rcpvision.emf.components.tests.factories.NoMouseEventExecutableExtensionFactory:it.rcpvision.emf.components.editors.EmfTreeEditor"
            contributorClass="it.rcpvision.emf.components.tests.factories.NoMouseEventExecutableExtensionFactory:it.rcpvision.emf.components.editors.EmfComponentsEditorActionBarContributor"
            default="false"
            id="it.rcpvision.emf.components.noMouseEvents"
            name="EMF Tree Editor No Mouse Events">
         <contentTypeBinding
               contentTypeId="org.eclipse.emf.ecore.xmi">
         </contentTypeBinding>
      </editor>
   </extension>
   
   	<extension
         point="org.eclipse.ui.editors">
      <editor
            class="it.rcpvision.emf.components.tests.factories.CustomLabelExecutableExtensionFactory:it.rcpvision.emf.components.editors.EmfTreeEditor"
            contributorClass="it.rcpvision.emf.components.tests.factories.CustomLabelExecutableExtensionFactory:it.rcpvision.emf.components.editors.EmfComponentsEditorActionBarContributor"
            default="false"
            id="it.rcpvision.emf.components.customLabel"
            name="EMF Tree Editor Custom Label">
         <contentTypeBinding
               contentTypeId="org.eclipse.emf.ecore.xmi">
         </contentTypeBinding>
      </editor>
   </extension>
    <extension
          point="org.eclipse.ui.views">
       <view
             category="it.rcpvision.emf.components"
             class="it.rcpvision.emf.components.tests.factories.EmfComponentsTestsExecutableExtensionFactory:it.rcpvision.emf.components.tests.views.LibraryEmfView"
             id="it.rcpvision.emf.components.tests.views.libraryview"
             name="LibraryEmfView"
             restorable="true">
       </view>
       <view
             category="it.rcpvision.emf.components"
             class="it.rcpvision.emf.components.tests.factories.CustomLabelExecutableExtensionFactory:it.rcpvision.emf.components.tests.views.LibraryEmfView"
             id="it.rcpvision.emf.components.tests.views.libraryviewcustom"
             name="LibraryEmfView Custom Label"
             restorable="true">
       </view>
    </extension>
    <extension
          point="org.eclipse.ui.editors">
       <editor
             class="it.rcpvision.emf.components.tests.factories.CustomLabelExecutableExtensionFactory:it.rcpvision.emf.components.tests.editors.TestEditor"
             contributorClass="it.rcpvision.emf.components.tests.factories.CustomLabelExecutableExtensionFactory:it.rcpvision.emf.components.editors.EmfComponentsEditorActionBarContributor"
             default="false"
             id="it.rcpvision.emf.components.customLabel"
             name="EMF Tree Editor Derived">
          <contentTypeBinding
                contentTypeId="org.eclipse.emf.ecore.xmi">
          </contentTypeBinding>
       </editor>
    </extension>
    <extension
          point="org.eclipse.ui.editors">
       <editor
             class="it.rcpvision.emf.components.editors.EmfComponentsEditorsExecutableExtensionFactory:it.rcpvision.emf.components.editors.EmfTreeEditor"
             contributorClass="it.rcpvision.emf.components.editors.EmfComponentsEditorsExecutableExtensionFactory:it.rcpvision.emf.components.editors.EmfComponentsEditorActionBarContributor"
             default="false"
             extensions="statemachine"
             id="it.rcpvision.emf.components.statemachine"
             name="EMF Tree Editor Statemachine">
       </editor>
    </extension>
    <extension
          point="org.eclipse.ui.editors">
       <editor
             class="it.rcpvision.emf.components.tests.factories.CustomLibraryExecutableExtensionFactory:it.rcpvision.emf.components.tests.editors.TestEditor"
             contributorClass="it.rcpvision.emf.components.tests.factories.CustomLibraryExecutableExtensionFactory:it.rcpvision.emf.components.editors.EmfComponentsEditorActionBarContributor"
             default="false"
             extensions="extlibrary"
             id="it.rcpvision.emf.components.customLibrary"
             name="EMF Custom Library Editor">
       </editor>
    </extension>
    <extension
          point="org.eclipse.ui.views">
       <view
             category="it.rcpvision.emf.components"
             class="it.rcpvision.emf.components.tests.factories.CustomLibraryExecutableExtensionFactory:it.rcpvision.emf.components.views.OnSelectionFormView"
             id="it.rcpvision.emf.components.tests.views.librarydetailviewcustom"
             name="Library Emf Detail View"
             restorable="true">
       </view>
    </extension>
    <extension
          point="org.eclipse.ui.views">
       <view
             category="it.rcpvision.emf.components"
             class="it.rcpvision.emf.components.tests.factories.CustomLibraryExecutableExtensionFactory:it.rcpvision.emf.components.tests.tables.LibraryTestTableView"
             id="it.rcpvision.emf.components.tests.views.librarytabletest"
             name="Library Test Table"
             restorable="true">
       </view>
    </extension>
        <extension
          point="org.eclipse.ui.views">
       <view
             category="it.rcpvision.emf.components"
             class="it.rcpvision.emf.components.tests.factories.CustomLibraryExecutableExtensionFactory:it.rcpvision.emf.components.tests.views.TestSaveableResourceTreeFormView"
             id="it.rcpvision.emf.components.tests.views.testsaveableresourcetreeformview"
             name="Library Test Saveable Resource Tree Form View"
             restorable="true">
       </view>
       <view
             category="it.rcpvision.emf.components"
             class="it.rcpvision.emf.components.tests.factories.CustomLibraryExecutableExtensionFactory:it.rcpvision.emf.components.tests.views.TestSaveableResourceTableView"
             id="it.rcpvision.emf.components.tests.views.testsaveabletableview"
             name="Library Test Saveable Table View"
             restorable="true">
       </view>
       <view
             category="it.rcpvision.emf.components"
             class="it.rcpvision.emf.components.tests.factories.CustomLibraryExecutableExtensionFactory:it.rcpvision.emf.components.tests.views.TestSaveableTreeView"
             id="it.rcpvision.emf.components.tests.views.testsaveabletreeview"
             name="Library Test Saveable Tree View"
             restorable="true">
       </view>
       <view
             category="it.rcpvision.emf.components"
             class="it.rcpvision.emf.components.tests.factories.CustomLibraryExecutableExtensionFactory:it.rcpvision.emf.components.tests.views.TestOnSelectionLibraryBooksTableView"
             id="it.rcpvision.emf.components.tests.views.librarybookstableview"
             name="Library Books Table View"
             restorable="true">
       </view>
       <view
             category="it.rcpvision.emf.components"
             class="it.rcpvision.emf.components.tests.factories.CustomContentProviderLibraryExecutableExtensionFactory:it.rcpvision.emf.components.tests.views.TestSaveableTreeView2"
             id="it.rcpvision.emf.components.tests.views.testsaveabletreeviewcontentprovider"
             name="Library Tree View With Custom Content Provider"
             restorable="true">
       </view>
    </extension>
</plugin>
