<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.emf.formeditor.EmfFormEditorExecutableExtensionFactory:org.eclipse.emf.formeditor.EmfFormEditor"
            contributorClass="org.eclipse.emf.presentation.EmfFormEditorActionBarContributor"
            default="false"
            id="org.eclipse.emf.formeditor"
            name="EMF Form Editor">
         <contentTypeBinding
               contentTypeId="org.eclipse.emf.ecore.xmi">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.emf.formeditor.EmfFormEditorExecutableExtensionFactory:org.eclipse.emf.formeditor.views.EmfView"
            id="org.eclipse.emf.formeditor.emfview"
            name="Emf View"
            restorable="true">
      </view>
      <view
            class="org.eclipse.emf.formeditor.EmfFormEditorExecutableExtensionFactory:org.eclipse.emf.formeditor.views.GenericDetailViewPart"
            id="org.eclipse.emf.formeditor.detailView"
            name="Emf Detail View"
            restorable="true">
      </view>
   </extension>
</plugin>
