<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///it/rcpvision/emf/components/examples/mail/mail.ecore/0.1.0"
            class="it.rcpvision.emf.components.examples.mail.MailPackage"
            genModel="model/mail.genmodel"/>
   </extension>

</plugin>
