<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="it.rcpvision.emf.components.cdo.examples.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="it.rcpvision.emf.components.cdo.examples.rcp.Perspective"
            id="it.rcpvision.emf.components.cdo.examples.rcp.perspective">
      </perspective>
   </extension>
    <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <command
               commandId="it.rcpvision.emf.components.cdo.examples.rcp.openEditor"
               label="Open Editor"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="it.rcpvision.emf.components.cdo.examples.rcp.handler.OpenEditor"
            id="it.rcpvision.emf.components.cdo.examples.rcp.openEditor"
            name="Open Editor">
      </command>
   </extension>

</plugin>
