<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///it/rcpvision/emf/components/examples/library/extlibrary.ecore/0.1.0"
            class="it.rcpvision.emf.components.examples.library.EXTLibraryPackage"
            genModel="model/extlibrary.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.content_parser">
      <parser
            contentTypeIdentifier="emfComponentsLibrary"
            class="org.eclipse.emf.ecore.xmi.impl.XMIResourceFactoryImpl"/>
   </extension>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.emf.ecore.xmi"
            file-extensions="extlibrary"
            id="emfComponentsLibrary"
            name="%_UI_EXTLibrary_content_type"
            priority="normal">
         <describer class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
            <parameter name="namespace" value="http:///it/rcpvision/emf/components/examples/library/extlibrary.ecore/0.1.0"/>
            <parameter name="kind" value="xmi"/>
         </describer>
      </content-type>
   </extension>
</plugin>
